.footer {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  overflow: hidden;

  .footer_img {
    width: 100%;
  }

  .footer__content {

    .f__contact {
      position: absolute;
      top: 19px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-width: 430px;
      padding: 35px 30px;
      background-color: $bkg_color_2;
      border-radius: 2px;

      & div {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      & img {
        width: 41px;
        height: 41px;
      }

      .f__title {
        font-size: 23px;
      }

      .f__contact__item {
        &:hover {
          color: $orange_color;
        }
      }
    }

    .f__info {
      padding: 30px 0;
      display: flex;
      justify-content: space-between;

      &__1 span {
        font-size: 15px;
        font-weight: bold;
      }

      &__2 {
        display: flex;
        gap: 19px;

        & a {
          font-size: 15px;
          font-weight: bold;
          text-decoration: underline;

          &:hover {
            color: $orange_color;
          }
        }
      }
    }
  }

  .f__visit_card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding: 15px 0;
    background-color: $bkg_color_2;

    & a, & p {
      font-size: 14px;
      color: black;
    }

    & a {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    .footer__content {
      .f__contact {
        top: 23%;
        left: 20%;
        transform: translate(-20%, -23%);
      }
    }
  }
}

@media screen and (min-width: 1365px) and (max-width: 1450px) {
  .footer {
    .footer__content {
      .f__contact {
        top: 5%;
        left: 15%;
        transform: translate(-15%, -5%);
        gap: 10px;
        max-width: 430px;
        padding: 35px 30px;
        background-color: $bkg_color_2;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .footer {
    .footer__content {
      .f__contact {
        top: 9%;
        left: 10%;
        transform: translate(-10%, -9%);
        gap: 7px;
        padding: 10px 20px;

        & img {
          width: 33px;
          height: 33px;
        }

        .f__title {
          font-size: 20px;
        }

        .f__contact__item {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: 130%;

    .footer_img {
      width: 130%;
    }

    .footer__content {
      .f__contact {
        top: 7%;
        left: 15%;
        transform: translate(-15%, -7%);
        gap: 7px;
        padding: 10px 20px;

        & img {
          width: 33px;
          height: 33px;
        }

        .f__title {
          font-size: 20px;
        }

        .f__contact__item {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .footer {
    .footer_img {
      width: 220%;
      margin-left: -400px;
    }

    .footer__content {
      .f__contact {
        top: 25%;
        left: 25%;
        transform: translate(-25%, -25%);
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px 10px;
        background-color: transparent;

        & div {
          display: flex;
          align-items: center;
          gap: 15px;
        }

        & img {
          width: 28px;
          height: 28px;
        }

        .f__title {
          font-size: 20px;
          color: $bkg_color_2;
        }

        .f__contact__item {
          color: $bkg_color_2;
          font-weight: 800;
          font-size: 15px;
        }
      }

      .f__info {
        padding: 30px 0;
        justify-content: space-around;

        &__1 {
          display: none;
        }

        &__2 {
          & a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 594px) {
  .footer {
    .footer_img {
      width: 300%;
      margin-left: -400px;
    }

    .footer__content {
      .f__contact {
        top: 25%;
        left: 25%;
        transform: translate(-25%, -25%);
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px 10px;
        background-color: transparent;

        & div {
          display: flex;
          align-items: center;
          gap: 15px;
        }

        & img {
          width: 28px;
          height: 28px;
        }

        .f__title {
          font-size: 20px;
          color: $bkg_color_2;
        }

        .f__contact__item {
          color: $bkg_color_2;
          font-weight: 800;
          font-size: 15px;
        }
      }

      .f__info {
        padding: 15px 0;
        justify-content: space-around;

        &__1 {
          display: none;
        }

        &__2 {
          & a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 411px) {
  .footer {
    .footer_img {
      width: 280%;
      margin-left: -360px;
    }

    .footer__content {
      .f__contact {
        top: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px 10px;
        background-color: transparent;

        & div {
          display: flex;
          align-items: center;
          gap: 15px;
        }

        & img {
          width: 28px;
          height: 28px;
        }

        .f__title {
          font-size: 20px;
          color: $bkg_color_2;
        }

        .f__contact__item {
          color: $bkg_color_2;
          font-weight: 800;
          font-size: 15px;
        }
      }

      .f__info {
        padding: 15px 0;
        justify-content: space-around;

        &__1 {
          display: none;
        }

        &__2 {
          & a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 379px) {
  .footer {
    .footer_img {
      width: 320%;
      margin-left: -360px;
    }

    .footer__content {
      .f__contact {
        top: 15%;
        left: 15%;
        transform: translate(-15%, -15%);
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px 10px;
        background-color: transparent;

        & div {
          display: flex;
          align-items: center;
          gap: 15px;
        }

        & img {
          width: 28px;
          height: 28px;
        }

        .f__title {
          font-size: 20px;
          color: $bkg_color_2;
        }

        .f__contact__item {
          color: $bkg_color_2;
          font-weight: 800;
          font-size: 14px;
        }
      }

      .f__info {
        padding: 15px 0;
        justify-content: space-around;

        &__1 {
          display: none;
        }

        &__2 {
          & a {
            font-size: 14px;
          }
        }
      }
    }
  }
}