.third_section {
  padding: 45px;

  &__content {
    position: relative;

    .ts__title {
      text-align: center;
      color: $orange_color;
      font-size: 24px;
    }

    .ts__text {
      font-size: 18px;
      text-align: center;
      padding: 35px;
    }

    .image_slider {
      margin: 0 auto;
      padding: 10px 10px;
      min-height: 400px;
      max-width: 1000px;
      display: flex;
      gap: 70px;
      overflow-x: scroll;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        width: 0;
      }

      .slide {
        filter: blur(2px);
        margin: 0 35px 10px 35px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        background-color: $bkg_color_2;
        width: 270px;
        height: 400px;
        box-shadow: 10px 10px 10px black;

        &__icon {
          display: flex;
          gap: 5px;

          & img {
            width: 25px;
            height: 25px;
          }
        }

        &__title {
          color: $orange_color;
          font-weight: bold;
        }
      }
    }

    .array, .array_2 {
      cursor: pointer;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 390px;
    }

    .array {
      transform: rotate(-90deg);
      right: 0;
    }

    .array_2 {
      transform: rotate(90deg);
      left: 0;
    }

    .slick-center {
      filter: contrast(100%) !important;
      transform: scale(1.3);
    }

    .slick-track {
      padding: 75px 0;
    }

    .slick-slide {
      margin: 0 40px ;

      & p {
        font-size: 14px;
      }
    }
  }
}