.second_section {
  padding: 70px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 45px;

    .service {
      &__description {
        padding: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bkg_color_2;

        &__lable {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 25px;
          min-width: 210px;
        }

        &__logo {
          width: 79px;
          height: 79px;
        }

        &__title {
          color: $orange_color;
          font-size: 20px;
          font-weight: bold;
        }

        &__text {
          max-width: 750px;
          color: $mt_color;
          font-size: 17px;
        }
      }

      &__photo {
        background-color: $bkg_color_2;
        display: flex;
        justify-content: space-between;
        padding: 20px;

        &__1, &__2 {
          width: 510px;
          height: 330px;
        }

        &__1 {
          transform: translateX(-150%);
          /*animation: block 2.5s forwards;*/

          @keyframes block {
            0% {transform: translateX(-150%);}
            100% {transform: translateY(0);}
          }
        }

        &__2 {
          transform: translateX(150%);
          /*animation: block2 2.5s forwards;*/

          @keyframes block_2 {
            0% {transform: translateX(150%);}
            100% {transform: translateY(0);}
          }
        }
      }
    }

    .separ {
      margin: 10px auto;
      width: 700px;
      border: 2px solid $orange_color;
      border-radius: 5px;
    }
  }
}