.second_section {
  padding: 70px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-right: 5px;

    .secs__title {
      text-align: center;
      color: $orange_color;
      font-size: 24px;
    }

    .service {
      background-color: $bkg_color_2;
      box-shadow: 10px 10px 10px black;
      margin: 15px;

      &__description {
        padding: 45px 35px 35px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bkg_color_2;

        &__lable {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 25px;
          min-width: 210px;
        }

        &__logo {
          width: 79px;
          height: 79px;
        }

        &__title {
          color: $orange_color;
          font-size: 20px;
          font-weight: bold;
        }

        &__text {
          max-width: 750px;
        }
      }

      &__photo {
        display: none;
        background-color: $bkg_color_2;
        justify-content: space-around;
        padding: 20px;

        &__1, &__2 {
          width: 420px;
          height: 240px;
        }
      }

      .active_photo {
        display: flex;
        opacity: 0;
        animation: magic_photo 1.5s forwards;

        @keyframes magic_photo {
          0% {opacity: 0}
          100% {opacity: 1}
        }
      }

      &__wrap {
        padding: 15px 0;
        margin-top: -30px;
        display: flex;
        justify-content: space-around;
        background-color: $bkg_color_2;
      }

      &__arrow {
        cursor: pointer;
        width: 55px;
        height: 15px;
        animation: 1.2s infinite bounceArrow;
      }

      @keyframes bounceArrow {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }

        40% {
          transform: translateY(-12px);
        }

        60% {
          transform: translateY(-7px);
        }
      }

      .rotate__arrow {
        transform: scale(1, -1);
      }
    }

    .separ {
      margin: 10px auto;
      width: 700px;
      border: 2px solid $orange_color;
      border-radius: 5px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .second_section {
    &__content {
      .service {
        &__description {
          &__text {
            max-width: 1000px;
          }
        }
      }

      .separ {
        width: 800px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .second_section {
    padding: 45px 35px;

    &__content {
      gap: 25px;

      .secs__title {
        font-size: 20px;
      }

      .service {
        box-shadow: 5px 5px 5px black;

        &__description {
          padding: 20px 20px 20px 0;

          &__lable {
            gap: 15px;
          }

          &__logo {
            width: 59px;
            height: 59px;
          }

          &__title {
            font-size: 17px;
          }

          &__text {
            font-size: 15px;
          }
        }

        &__photo {
          &__1, &__2 {
            width: 280px;
            height: 170px;
          }
        }

        @keyframes bounceArrow {
          0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
          }

          40% {
            transform: translateY(-3px);
          }

          60% {
            transform: translateY(3px);
          }
        }
      }

      .separ {
        width: 500px;
      }
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .second_section {
    padding: 25px;

    &__content {
      gap: 20px;

      .secs__title {
        font-size: 20px;
      }

      .service {
        box-shadow: 10px 10px 10px black;
        margin: 15px;

        &__description {
          padding: 25px 25px 35px 25px;
          flex-direction: column;
          gap: 10px;

          &__lable {
            flex-direction: column;
            gap: 10px;
          }

          &__logo {
            width: 55px;
            height: 55px;
          }

          &__title {
            font-size: 18px;
          }
        }

        &__photo {
          &__1, &__2 {
            width: 240px;
            height: 170px;
            margin: 0 auto;
          }
        }

        .active_photo {
          justify-content: space-around;
          gap: 7px;
        }
      }

      .separ {
        width: 300px;
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 594px) {
  .second_section {
    padding: 25px;

    &__content {
      gap: 20px;

      .secs__title {
        font-size: 20px;
      }

      .service {
        box-shadow: 5px 5px 5px black;
        margin: 10px;

        &__description {
          padding: 25px 25px 35px 25px;
          flex-direction: column;
          gap: 10px;

          &__lable {
            flex-direction: column;
            gap: 10px;
          }

          &__logo {
            width: 55px;
            height: 55px;
          }

          &__title {
            font-size: 18px;
          }
        }

        &__photo {
          &__1, &__2 {
            width: 290px;
            height: 170px;
            margin: 0 auto;
          }
        }

        .active_photo {
          flex-direction: column;
          justify-content: space-around;
          gap: 7px;
        }
      }

      .separ {
        width: 300px;
      }
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 411px) {
  .second_section {
    padding: 25px 10px;

    &__content {
      gap: 20px;

      .secs__title {
        font-size: 20px;
      }

      .service {
        box-shadow: 5px 5px 5px black;
        margin: 5px 8px 5px 5px;
        min-width: 270px;

        &__description {
          padding: 15px 10px 30px;
          flex-direction: column;
          gap: 10px;

          &__lable {
            flex-direction: column;
            gap: 10px;
          }

          &__logo {
            width: 55px;
            height: 55px;
          }

          &__title {
            font-size: 18px;
          }
        }

        &__photo {
          &__1, &__2 {
            width: 300px;
            height: 170px;
            margin: 0 auto;
          }
        }

        .active_photo {
          flex-direction: column;
          justify-content: space-around;
          gap: 7px;
        }
      }

      .separ {
        width: 250px;
        border: 1px solid $orange_color;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 379px) {
  .second_section {
    padding: 25px 10px;

    &__content {
      gap: 20px;

      .secs__title {
        font-size: 20px;
      }

      .service {
        box-shadow: 5px 5px 5px black;
        margin: 5px 8px 5px 5px;
        min-width: 270px;

        &__description {
          padding: 15px 10px 30px;
          flex-direction: column;
          gap: 10px;

          &__lable {
            flex-direction: column;
            gap: 10px;
          }

          &__logo {
            width: 55px;
            height: 55px;
          }

          &__title {
            font-size: 18px;
          }
        }

        &__photo {
          &__1, &__2 {
            width: 250px;
            height: 150px;
            margin: 0 auto;
          }
        }

        .active_photo {
          flex-direction: column;
          justify-content: space-around;
          gap: 7px;
        }
      }

      .separ {
        width: 250px;
        border: 1px solid $orange_color;
      }
    }
  }
}