.second_section {
  padding: 70px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 45px;

    .secs__title {
      text-align: center;
      color: $orange_color;
      font-size: 24px;
    }

    .service {
      box-shadow: 10px 10px 10px black;
      margin: 15px;

      &__description {
        padding: 45px 35px 35px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bkg_color_2;

        &__lable {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 25px;
          min-width: 210px;
        }

        &__logo {
          width: 79px;
          height: 79px;
        }

        &__title {
          color: $orange_color;
          font-size: 20px;
          font-weight: bold;
        }

        &__text {
          max-width: 750px;
          font-size: 17px;
        }
      }

      &__photo {
        display: none;
        background-color: $bkg_color_2;
        justify-content: space-between;
        padding: 20px;

        &__1, &__2 {
          width: 510px;
          height: 330px;
        }
      }

      .active_photo {
        display: flex;
        opacity: 0;
        animation: magic_photo 1.5s forwards;

        @keyframes magic_photo {
          0% {opacity: 0}
          100% {opacity: 1}
        }
      }

      &__wrap {
        padding-bottom: 15px;
        display: flex;
        justify-content: space-around;
        background-color: $bkg_color_2;
      }

      &__arrow {
        cursor: pointer;
        width: 25px;
        height: 25px;
      }

      .rotate__arrow {
        transform: rotate(180deg);
        transition-duration: 1s;
      }
    }

    .separ {
      margin: 10px auto;
      width: 700px;
      border: 2px solid $orange_color;
      border-radius: 5px;
    }
  }
}