@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster&family=Open+Sans:wght@300;400&family=Paytone+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Black Ops", sans-serif;
  color: #EFE7E2;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  background-color: #333;
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1380px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .container {
    max-width: 1020px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 16px;
  }

  .container {
    max-width: 750px;
  }
}
@media screen and (min-width: 412px) and (max-width: 768px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 400px;
  }
}
.header {
  padding: 10px 10px 10px 0;
}
.header .nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav_bar__logo > img {
  width: 185px;
  height: 80px;
}
.header .nav_bar__link {
  font-size: 18px;
  font-weight: bold;
}
.header .nav_bar :hover {
  color: #faa633;
}
.header .mob_header {
  display: none;
}
.header .mob_header__content {
  display: none;
}

@media screen and (min-width: 412px) and (max-width: 767px) {
  .header {
    padding: 10px;
  }
  .header .nav_bar {
    display: none;
  }
  .header .mob_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .mob_header__logo > img {
    width: 155px;
    height: 65px;
  }
  .header .mob_header__dash {
    margin: 3px 10px 0 0;
    width: 34px;
    height: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header .mob_header__dash div {
    width: 32px;
    height: 3px;
    background-color: #EFE7E2;
    flex-shrink: 0;
  }
  .header .mob_header__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 320px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 45px;
    padding: 30px 15px 65px;
    background-color: #333;
    transform: translateX(-150%);
    /*animation: block 2s forwards;*/
  }
  @keyframes block {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes blockBack {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateX(-150%);
    }
  }
  .header .mob_header__content > a {
    font-size: 19px;
    font-weight: bold;
    color: #EFE7E2;
  }
  .header .mob_header__content > a:hover {
    color: #faa633;
  }
  .header .mob_header__content > img {
    align-self: end;
  }
}
.first_section__content {
  overflow: hidden;
}
.first_section__content .main__img {
  width: 100%;
  height: 530px;
}
.first_section__content .main__title {
  position: absolute;
  top: 400px;
  max-width: 700px;
  padding: 10px;
  background-color: #faa633;
  animation: magic 2s forwards;
}
@keyframes magic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.first_section__content h1 {
  font-size: 55px;
}

@media screen and (min-width: 1920px) {
  .first_section__content .main__img {
    width: 100%;
    height: 700px;
  }
  .first_section__content .main__title {
    top: 500px;
    max-width: 800px;
  }
  .first_section__content h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .first_section__content .main__img {
    height: 380px;
  }
  .first_section__content .main__title {
    top: 300px;
  }
  .first_section__content h1 {
    font-size: 35px;
  }
}
@media screen and (min-width: 412px) and (max-width: 767px) {
  .first_section__content .main__img {
    height: 530px;
    width: 290%;
    margin-left: -590px;
  }
  .first_section__content .main__title {
    top: 300px;
  }
  .first_section__content h1 {
    font-size: 30px;
  }
}
.second_section {
  margin-top: -100px;
  padding: 170px 0 70px 0;
  background-color: #251D1A;
}
.second_section .container {
  overflow: visible;
}
.second_section__content {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
}
.second_section__content .worker {
  width: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.second_section__content .worker > p, .second_section__content .worker > h6 {
  text-align: center;
}
.second_section__content .worker > img {
  width: 130px;
  height: 130px;
  border-radius: 170px;
}
.second_section__content .worker > img:hover {
  transform: scale(1.7);
  transition-duration: 1s;
}
.second_section__content .sec__title {
  color: #faa633;
  font-size: 24px;
}
.second_section__content .sec__boss {
  display: flex;
  justify-content: space-around;
  gap: 85px;
}
.second_section__content .sec__boss__item > img {
  width: 200px !important;
  height: 200px !important;
}
.second_section__content .boss_1 {
  /*animation: appear 1s forwards;*/
  opacity: 0;
}
.second_section__content .boss_2 {
  /*animation: appearFromRight 1s forwards;*/
  opacity: 0;
}
.second_section__content .boss_3 {
  /*animation: appearFromLeft 1s forwards;*/
  opacity: 0;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appearFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes appearFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.second_section__content .sec__office, .second_section__content .sec__filiale {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 35px;
}
.second_section__content .sec__office__item, .second_section__content .sec__filiale__item {
  /*animation: appear 2s forwards;*/
  opacity: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .second_section {
    padding: 150px 0 30px 0;
  }
  .second_section__content .worker > img {
    width: 100px;
    height: 100px;
  }
  .second_section__content .sec__title {
    color: #faa633;
    font-size: 20px;
  }
  .second_section__content .sec__boss {
    gap: 45px;
  }
  .second_section__content .sec__boss__item > img {
    width: 130px !important;
    height: 130px !important;
  }
}
@media screen and (min-width: 412px) and (max-width: 767px) {
  .second_section {
    padding: 135px 0 35px 0;
  }
  .second_section__content {
    gap: 25px;
  }
  .second_section__content .worker {
    width: 110px;
  }
  .second_section__content .worker > img {
    width: 100px;
    height: 100px;
  }
  .second_section__content .worker > img:hover {
    transform: scale(1.4);
  }
  .second_section__content .sec__title {
    font-size: 20px;
  }
  .second_section__content .sec__boss {
    gap: 25px;
  }
  .second_section__content .sec__boss__item > img {
    width: 110px !important;
    height: 110px !important;
  }
}
.footer {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.footer .footer_img {
  width: 100%;
}
.footer .footer__content .f__contact {
  position: absolute;
  top: 19px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 430px;
  padding: 35px 30px;
  background-color: #251D1A;
  border-radius: 2px;
}
.footer .footer__content .f__contact div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .footer__content .f__contact img {
  width: 41px;
  height: 41px;
}
.footer .footer__content .f__contact .f__title {
  font-size: 23px;
}
.footer .footer__content .f__contact .f__contact__item:hover {
  color: #faa633;
}
.footer .footer__content .f__info {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer__content .f__info__1 span {
  font-size: 15px;
  font-weight: bold;
}
.footer .footer__content .f__info__2 {
  display: flex;
  gap: 19px;
}
.footer .footer__content .f__info__2 a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}
.footer .footer__content .f__info__2 a:hover {
  color: #faa633;
}
.footer .f__visit_card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding: 15px 0;
  background-color: #251D1A;
}
.footer .f__visit_card a, .footer .f__visit_card p {
  font-size: 14px;
  color: black;
}
.footer .f__visit_card a {
  text-decoration: underline;
}

@media screen and (min-width: 1920px) {
  .footer .footer__content .f__contact {
    top: 55px;
  }
}
@media screen and (min-width: 1365px) and (max-width: 1450px) {
  .footer .footer__content .f__contact {
    top: 10px;
    gap: 10px;
    max-width: 430px;
    padding: 35px 30px;
    background-color: #251D1A;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .footer .footer__content .f__contact {
    top: 25px;
    gap: 7px;
    padding: 10px 20px;
  }
  .footer .footer__content .f__contact img {
    width: 33px;
    height: 33px;
  }
  .footer .footer__content .f__contact .f__title {
    font-size: 20px;
  }
  .footer .footer__content .f__contact .f__contact__item {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: 130%;
  }
  .footer .footer_img {
    width: 130%;
  }
  .footer .footer__content .f__contact {
    top: 15px;
    gap: 7px;
    padding: 10px 20px;
  }
  .footer .footer__content .f__contact img {
    width: 33px;
    height: 33px;
  }
  .footer .footer__content .f__contact .f__title {
    font-size: 20px;
  }
  .footer .footer__content .f__contact .f__contact__item {
    font-size: 16px;
  }
}
@media screen and (min-width: 412px) and (max-width: 767px) {
  .footer .footer_img {
    width: 300%;
    margin-left: -400px;
  }
  .footer .footer__content .f__contact {
    top: 55px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 10px;
    background-color: transparent;
  }
  .footer .footer__content .f__contact div {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .footer .footer__content .f__contact img {
    width: 28px;
    height: 28px;
  }
  .footer .footer__content .f__contact .f__title {
    font-size: 20px;
    color: #251D1A;
  }
  .footer .footer__content .f__contact .f__contact__item {
    color: #251D1A;
    font-weight: 800;
    font-size: 15px;
  }
  .footer .footer__content .f__info {
    padding: 30px 0;
    justify-content: space-around;
  }
  .footer .footer__content .f__info__1 {
    display: none;
  }
  .footer .footer__content .f__info__2 a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=team.css.map */
