.second_section {
  margin-top: -100px;
  padding: 170px 0 70px 0;
  background-color: $bkg_color_2;

  .container {
    overflow: visible;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;

    .worker {
      width: 185px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      & > p {
        text-align: center;
      }

      & > img {
        width: 130px;
        height: 130px;
        border-radius: 170px;

        &:hover {
          transform: scale(1.7);
          transition-duration: 1s;
        }
      }
    }

    .sec__title {
      color: $orange_color;
      font-size: 24px;
    }

    .sec__boss {
      display: flex;
      justify-content: space-around;
      gap: 85px;

      &__item > img {
        width: 200px !important;
        height: 200px !important;
      }
    }

    .boss_1 {
      /*animation: appear 1s forwards;*/
      opacity: 0;
    }

    .boss_2 {
      /*animation: appearFromRight 1s forwards;*/
      opacity: 0;
    }

    .boss_3 {
      /*animation: appearFromLeft 1s forwards;*/
      opacity: 0;
    }

    @keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes appearFromLeft {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @keyframes appearFromRight {
      from {
        transform: translateX(100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .sec__office, .sec__filiale {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 35px;

      &__item {
        /*animation: appear 2s forwards;*/
        opacity: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .second_section {
    padding: 150px 0 30px 0;

    &__content {
      .worker {
        & > img {
          width: 100px;
          height: 100px;
        }
      }

      .sec__title {
        color: $orange_color;
        font-size: 20px;
      }

      .sec__boss {
        gap: 45px;

        &__item > img {
          width: 130px !important;
          height: 130px !important;
        }
      }
    }
  }
}