.first_section {
  &__content {
    overflow: hidden;

    .main__img {
      width: 100%;
      height: 530px;
    }

    .main__title {
      position: absolute;
      top: 400px;
      max-width: 700px;
      padding: 10px;
      background-color: $orange_color;
      animation: magic 2s forwards;

      @keyframes magic {
        0% {opacity: 0}
        100% {opacity: 1}
      }
    }

    & h1 {
      font-size: 55px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .first_section {
    &__content {
      .main__img {
        width: 100%;
        height: 700px;
      }

      .main__title {
        top: 500px;
        max-width: 800px;
      }

      & h1 {
        font-size: 60px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .first_section {
    &__content {
      .main__img {
        height: 380px;
      }

      .main__title {
        top: 300px;
      }

      & h1 {
        font-size: 35px;
      }
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .first_section {
    &__content {
      .main__img {
        height: 480px;
        width: 180%;
        margin-left: -280px;
      }

      .main__title {
        top: 300px;
      }

      & h1 {
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 594px) {
  .first_section {
    &__content {
      .main__img {
        height: 530px;
        width: 290%;
        margin-left: -590px;
      }

      .main__title {
        top: 300px;
      }

      & h1 {
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 411px) {
  .first_section {
    &__content {
      .main__img {
        height: 490px;
        width: 350%;
        margin-left: -290px;
      }

      .main__title {
        top: 300px;
        max-width: 210px;
      }

      & h1 {
        font-size: 30px;
      }
    }
  }
}