.first_section {
  &__content {
    overflow: hidden;

    .main__img {
      width: 100%;
      height: 700px;
    }

    .main__title {
      position: absolute;
      top: 400px;
      max-width: 700px;
      padding: 10px;
      background-color: $orange_color;
      animation: magic 3s forwards;

      @keyframes magic {
        0% {opacity: 0}
        100% {opacity: 1}
      }
    }

    & h1 {
      font-size: 55px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .first_section {
    &__content {
      .main__img {
        height: 100%;
      }

      .main__title {
        top: 500px;
        max-width: 800px;
      }

      & h1 {
        font-size: 60px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .first_section {
    &__content {
      .main__img {
        width: 100%;
        height: 600px;
      }

      .main__title {
        top: 370px;
      }

      & h1 {
        font-size: 45px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .first_section {
    &__content {
      .main__img {
        width: 100%;
        height: 420px;
      }

      .main__title {
        top: 300px;
      }

      & h1 {
        font-size: 35px;
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 767px) {
  .first_section {
    &__content {
      .main__img {
        width: 210%;
        height: 580px;
      }

      .main__title {
        top: 350px;
      }

      & h1 {
        font-size: 30px;
      }
    }
  }
}