.fourth_section {
  padding: 85px 0;
  background-color: $bkg_color_2;

  &__content {
    .fs__img {
      display: flex;

      &__1, &__2 {
        width: 540px;
        height: 300px;
      }

      &__1 {
        transform: translateX(-150%);
        /*animation: block 2.5s forwards;*/

        @keyframes block {
          0% {transform: translateX(-150%);}
          100% {transform: translateY(0);}
        }
      }

      &__2 {
        transform: translateX(150%);
        /*animation: block2 2.5s forwards;*/

        @keyframes block_2 {
          0% {transform: translateX(150%);}
          100% {transform: translateY(0);}
        }
      }
    }

    .fs__description {
      padding-top: 25px;
      display: flex;
      justify-content: space-between;

      &__1 {
        max-width: 630px;
      }

      &__2 {
        max-width: 350px;

        .fs__list li {
          list-style-type: square;
        }
      }
    }

    .fs__title {
      margin-top: 15px;
      color: $orange_color;
      font-size: 23px;
      font-weight: bold;
    }

    .fs__text {
      padding-top: 15px;
      font-size: 17px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .fourth_section {
    &__content {
      .fs__img {
        &__1, &__2 {
          width: 690px;
          height: 400px;
        }
      }

      .fs__description {
        justify-content: space-around;

        &__1 {
          width: 620px;
        }

        &__2 {
          max-width: 450px;
        }
      }
    }
  }
}

@media screen and (min-width: 1365px) and (max-width: 1450px) {
  .fourth_section {
    &__content {
      .fs__img {
        &__1, &__2 {
          width: 540px;
          height: 300px;
        }
      }

      .fs__description {
        justify-content: space-around;

        &__1 {
          width: 480px;
        }
      }
    }
  }
}