@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster&family=Open+Sans:wght@300;400&family=Paytone+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Black Ops", sans-serif;
  color: #EFE7E2;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  background-color: #333;
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1380px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .container {
    max-width: 1020px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 16px;
  }

  .container {
    max-width: 750px;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 590px;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 412px;
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 380px;
  }
}
@media screen and (min-width: 320px) and (max-width: 379px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 310px;
  }
}
.header {
  padding: 10px 10px 10px 0;
}
.header .nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav_bar__logo > img {
  width: 185px;
  height: 80px;
}
.header .nav_bar__link {
  font-size: 18px;
  font-weight: bold;
}
.header .nav_bar :hover {
  color: #faa633;
}
.header .mob_header {
  display: none;
}
.header .mob_header__content {
  display: none;
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .header {
    padding: 10px;
  }
  .header .nav_bar {
    display: none;
  }
  .header .mob_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .mob_header__logo > img {
    width: 165px;
    height: 70px;
  }
  .header .mob_header__dash {
    margin: 3px 10px 0 0;
    width: 34px;
    height: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header .mob_header__dash div {
    width: 34px;
    height: 3px;
    background-color: #EFE7E2;
    flex-shrink: 0;
  }
  .header .mob_header__content {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    min-width: 320px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 45px;
    padding: 30px 15px 65px;
    background-color: #333;
    transform: translateY(-150%);
    /*animation: header 2s forwards;*/
  }
  @keyframes header {
    0% {
      transform: translateY(-150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes headerBack {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-150%);
    }
  }
  .header .mob_header__content > a {
    font-size: 19px;
    font-weight: bold;
    color: #EFE7E2;
  }
  .header .mob_header__content > a:hover {
    color: #faa633;
  }
  .header .mob_header__content > img {
    align-self: end;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  .header {
    padding: 10px;
  }
  .header .nav_bar {
    display: none;
  }
  .header .mob_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .mob_header__logo > img {
    width: 155px;
    height: 70px;
  }
  .header .mob_header__dash {
    margin: 3px 10px 0 0;
    width: 34px;
    height: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header .mob_header__dash div {
    width: 32px;
    height: 3px;
    background-color: #EFE7E2;
    flex-shrink: 0;
  }
  .header .mob_header__content {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    min-width: 320px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 45px;
    padding: 30px 15px 65px;
    background-color: #333;
    transform: translateY(-150%);
    /*animation: header 2s forwards;*/
  }
  @keyframes header {
    0% {
      transform: translateY(-150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes headerBack {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-150%);
    }
  }
  .header .mob_header__content > a {
    font-size: 19px;
    font-weight: bold;
    color: #EFE7E2;
  }
  .header .mob_header__content > a:hover {
    color: #faa633;
  }
  .header .mob_header__content > img {
    align-self: end;
  }
}
@media screen and (min-width: 320px) and (max-width: 411px) {
  .header {
    padding: 5px;
  }
  .header .nav_bar {
    display: none;
  }
  .header .mob_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .mob_header__logo > img {
    width: 155px;
    height: 70px;
  }
  .header .mob_header__dash {
    margin: 3px 10px 0 0;
    width: 34px;
    height: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header .mob_header__dash div {
    width: 30px;
    height: 3px;
    background-color: #EFE7E2;
    flex-shrink: 0;
  }
  .header .mob_header__content {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    min-width: 320px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 45px;
    padding: 30px 15px 65px;
    background-color: #333;
    transform: translateY(-150%);
    /*animation: header 2s forwards;*/
  }
  @keyframes header {
    0% {
      transform: translateY(-150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes headerBack {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-150%);
    }
  }
  .header .mob_header__content > a {
    font-size: 19px;
    font-weight: bold;
    color: #EFE7E2;
  }
  .header .mob_header__content > a:hover {
    color: #faa633;
  }
  .header .mob_header__content > img {
    align-self: end;
  }
}
.first_section__content {
  overflow: hidden;
}
.first_section__content .main__img {
  width: 100%;
  height: 700px;
}
.first_section__content .main__title {
  position: absolute;
  top: 400px;
  max-width: 700px;
  padding: 10px;
  background-color: #faa633;
  animation: magic 3s forwards;
}
@keyframes magic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.first_section__content h1 {
  font-size: 55px;
}

@media screen and (min-width: 1920px) {
  .first_section__content .main__img {
    height: 100%;
  }
  .first_section__content .main__title {
    top: 500px;
    max-width: 800px;
  }
  .first_section__content h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .first_section__content .main__img {
    width: 100%;
    height: 600px;
  }
  .first_section__content .main__title {
    top: 370px;
  }
  .first_section__content h1 {
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .first_section__content .main__img {
    width: 100%;
    height: 420px;
  }
  .first_section__content .main__title {
    top: 300px;
  }
  .first_section__content h1 {
    font-size: 35px;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  .first_section__content .main__img {
    width: 210%;
    height: 640px;
  }
  .first_section__content .main__title {
    top: 380px;
  }
  .first_section__content h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  .first_section__content .main__img {
    width: 210%;
    height: 580px;
  }
  .first_section__content .main__title {
    top: 350px;
  }
  .first_section__content h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  .first_section__content .main__img {
    width: 270%;
    height: 580px;
  }
  .first_section__content .main__title {
    top: 330px;
    max-width: 230px;
  }
  .first_section__content h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 379px) {
  .first_section__content .main__img {
    width: 270%;
    height: 580px;
  }
  .first_section__content .main__title {
    top: 330px;
    max-width: 230px;
  }
  .first_section__content h1 {
    font-size: 30px;
  }
}
.second_section {
  margin-top: -125px;
  padding-top: 175px;
  background-color: #251D1A;
}
.second_section__content {
  padding: 0 100px 55px;
}
.second_section__content .sec_s__title {
  color: #faa633;
  font-size: 23px;
  font-weight: bold;
}
.second_section__content .sec_s__text {
  padding-top: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .second_section__content .sec_s__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  .second_section {
    padding-top: 165px;
  }
  .second_section__content {
    padding: 0 20px 35px;
  }
  .second_section__content .sec_s__title {
    font-size: 20px;
  }
  .second_section__content .sec_s__text {
    padding-top: 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 594px) {
  .second_section {
    padding-top: 135px;
  }
  .second_section__content {
    padding: 0 20px 35px;
  }
  .second_section__content .sec_s__title {
    font-size: 20px;
  }
  .second_section__content .sec_s__text {
    padding-top: 15px;
  }
}
.third_section {
  padding: 45px 0 85px;
}
.third_section__content {
  display: flex;
  flex-direction: column;
}
.third_section__content .ts__title {
  color: #faa633;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.third_section__content .ts__services {
  padding: 45px 5px 10px;
  display: flex;
  justify-content: space-between;
}
.third_section__content .ts__services .ts__service {
  padding: 25px 10px;
  min-height: 370px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #251D1A;
  box-shadow: 5px 5px 5px black;
}
.third_section__content .ts__services .ts__service:hover {
  background-color: #faa633;
}
.third_section__content .ts__services .ts__service__img {
  width: 79px;
  height: 79px;
}
.third_section__content .ts__services .ts__service__title {
  font-size: 20px;
  font-weight: bold;
}
.third_section__content .ts__services .ts__service__text {
  text-align: center;
  font-size: 17px;
}
.third_section__content .ts__services .ts__service__button {
  margin-top: 10px;
  padding: 8px 18px;
  font-size: 14px;
  color: #faa633;
  cursor: pointer;
  background-color: #EFE7E2;
  border-radius: 7px;
}
.third_section__content .ts__services .ts__service__button:hover {
  background-color: #333;
}
.third_section__content .ts__services .ts__service .active {
  display: none;
}

@media screen and (min-width: 1920px) {
  .third_section__content .ts__services {
    padding: 45px 15px 15px;
  }
  .third_section__content .ts__services .ts__service {
    min-height: 400px;
    width: 280px;
    box-shadow: 10px 10px 10px black;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .third_section__content .ts__services {
    padding: 45px 15px 15px;
  }
  .third_section__content .ts__services .ts__service {
    min-height: 310px;
    width: 220px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .third_section__content .ts__title {
    font-size: 20px;
  }
  .third_section__content .ts__services {
    padding: 45px 5px 10px;
  }
  .third_section__content .ts__services .ts__service {
    padding: 10px 5px;
    min-height: 270px;
    width: 170px;
    gap: 10px;
  }
  .third_section__content .ts__services .ts__service__img {
    width: 45px;
    height: 45px;
  }
  .third_section__content .ts__services .ts__service__title {
    font-size: 15px;
  }
  .third_section__content .ts__services .ts__service__text {
    font-size: 14px;
  }
  .third_section__content .ts__services .ts__service__button {
    font-size: 12px;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  .third_section {
    padding: 25px 0;
  }
  .third_section__content .ts__title {
    font-size: 20px;
  }
  .third_section__content .ts__services {
    padding: 25px 5px 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 35px;
  }
  .third_section__content .ts__services::-webkit-scrollbar {
    width: 0;
  }
  .third_section__content .ts__services .ts__service {
    min-height: 350px;
    min-width: 240px;
  }
  .third_section__content .ts__services .ts__service__img {
    width: 63px;
    height: 63px;
    animation: 1.2s infinite bounceArrow;
  }
  @keyframes bounceArrow {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-12px);
    }
    60% {
      transform: translateY(-7px);
    }
  }
  .third_section__content .ts__services .ts__service__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  .third_section {
    padding: 25px 0;
  }
  .third_section__content .ts__title {
    font-size: 20px;
  }
  .third_section__content .ts__services {
    padding: 25px 5px 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 55px;
  }
  .third_section__content .ts__services::-webkit-scrollbar {
    width: 0;
  }
  .third_section__content .ts__services .ts__service {
    min-height: 370px;
    min-width: 280px;
  }
  .third_section__content .ts__services .ts__service__img {
    width: 63px;
    height: 63px;
    animation: 1.2s infinite bounceArrow;
  }
  @keyframes bounceArrow {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-12px);
    }
    60% {
      transform: translateY(-7px);
    }
  }
  .third_section__content .ts__services .ts__service__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 320px) and (max-width: 411px) {
  .third_section {
    padding: 25px 0;
  }
  .third_section__content .ts__title {
    font-size: 20px;
  }
  .third_section__content .ts__services {
    padding: 25px 5px 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 35px;
  }
  .third_section__content .ts__services::-webkit-scrollbar {
    width: 0;
  }
  .third_section__content .ts__services .ts__service {
    min-height: 350px;
    min-width: 240px;
  }
  .third_section__content .ts__services .ts__service__img {
    width: 63px;
    height: 63px;
    animation: 1.2s infinite bounceArrow;
  }
  @keyframes bounceArrow {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-12px);
    }
    60% {
      transform: translateY(-7px);
    }
  }
  .third_section__content .ts__services .ts__service__title {
    font-size: 18px;
  }
}
.fourth_section {
  padding: 85px 0;
  background-color: #251D1A;
}
.fourth_section__content .fs__img {
  display: flex;
}
.fourth_section__content .fs__img__1, .fourth_section__content .fs__img__2 {
  width: 540px;
  height: 300px;
}
.fourth_section__content .fs__img__1 {
  transform: translateX(-150%);
  /*animation: block 2.5s forwards;*/
}
@keyframes block {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
.fourth_section__content .fs__img__2 {
  transform: translateX(150%);
  /*animation: block2 2.5s forwards;*/
}
@keyframes block_2 {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateY(0);
  }
}
.fourth_section__content .fs__description {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}
.fourth_section__content .fs__description__1 {
  max-width: 630px;
}
.fourth_section__content .fs__description__2 {
  max-width: 350px;
}
.fourth_section__content .fs__description__2 .fs__list li {
  list-style-type: square;
}
.fourth_section__content .fs__title {
  margin-top: 15px;
  color: #faa633;
  font-size: 23px;
  font-weight: bold;
}
.fourth_section__content .fs__text {
  padding-top: 15px;
}

@media screen and (min-width: 1920px) {
  .fourth_section__content .fs__img__1, .fourth_section__content .fs__img__2 {
    width: 690px;
    height: 400px;
  }
  .fourth_section__content .fs__description {
    justify-content: space-around;
  }
  .fourth_section__content .fs__description__1 {
    width: 620px;
  }
  .fourth_section__content .fs__description__2 {
    max-width: 450px;
  }
}
@media screen and (min-width: 1365px) and (max-width: 1450px) {
  .fourth_section__content .fs__img__1, .fourth_section__content .fs__img__2 {
    width: 540px;
    height: 300px;
  }
  .fourth_section__content .fs__description {
    justify-content: space-around;
  }
  .fourth_section__content .fs__description__1 {
    width: 480px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .fourth_section__content .fs__img__1, .fourth_section__content .fs__img__2 {
    width: 512px;
    height: 280px;
  }
  .fourth_section__content .fs__description {
    justify-content: space-around;
  }
  .fourth_section__content .fs__description__1 {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fourth_section__content .fs__img__1, .fourth_section__content .fs__img__2 {
    width: 375px;
    height: 200px;
  }
  .fourth_section__content .fs__description {
    justify-content: space-around;
  }
  .fourth_section__content .fs__description__1 {
    width: 350px;
  }
  .fourth_section__content .fs__title {
    font-size: 20px;
  }
  .fourth_section__content .fs__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  .fourth_section {
    padding: 35px 0;
  }
  .fourth_section__content .fs__img {
    display: flex;
    flex-direction: column;
  }
  .fourth_section__content .fs__img__1, .fourth_section__content .fs__img__2 {
    width: 100%;
    height: 100%;
  }
  .fourth_section__content .fs__description {
    padding-top: 15px;
    flex-direction: column;
  }
  .fourth_section__content .fs__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  .fourth_section {
    padding: 35px 0;
  }
  .fourth_section__content .fs__img {
    display: flex;
    flex-direction: column;
  }
  .fourth_section__content .fs__img__1, .fourth_section__content .fs__img__2 {
    width: 100%;
    height: 100%;
  }
  .fourth_section__content .fs__description {
    padding-top: 15px;
    flex-direction: column;
  }
  .fourth_section__content .fs__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 411px) {
  .fourth_section {
    padding: 35px 0;
  }
  .fourth_section__content .fs__img {
    display: flex;
    flex-direction: column;
  }
  .fourth_section__content .fs__img__1, .fourth_section__content .fs__img__2 {
    width: 100%;
    height: 100%;
  }
  .fourth_section__content .fs__description {
    padding-top: 15px;
    flex-direction: column;
  }
  .fourth_section__content .fs__title {
    font-size: 20px;
  }
}
.fifth_section {
  padding: 85px 0;
}
.fifth_section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifth_section__content .fifs__description {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;
}
.fifth_section__content .fifs__description .fifs__separ {
  width: 370px;
  background-color: #faa633;
  border: 1px solid #faa633;
}
.fifth_section__content .fifs__description .fifs__text {
  text-align: center;
  padding-top: 15px;
}
.fifth_section__content .fifs__videobox > iframe {
  width: 560px;
  height: 315px;
}

@media screen and (min-width: 1920px) {
  .fifth_section__content {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1365px) and (max-width: 1450px) {
  .fifth_section__content .fifs__description {
    max-width: 370px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fifth_section__content .fifs__description {
    max-width: 310px;
    gap: 20px;
  }
  .fifth_section__content .fifs__description .fifs__separ {
    width: 270px;
    background-color: #faa633;
    border: 1px solid #faa633;
  }
  .fifth_section__content .fifs__description .fifs__text {
    padding-top: 5px;
  }
  .fifth_section__content .fifs__videobox > iframe {
    width: 400px;
    height: 215px;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  .fifth_section {
    padding: 35px 0;
  }
  .fifth_section__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .fifth_section__content .fifs__description {
    flex-direction: column;
    gap: 47px;
  }
  .fifth_section__content .fifs__description .fifs__separ {
    display: none;
  }
  .fifth_section__content .fifs__description .fifs__text {
    text-align: center;
  }
  .fifth_section__content .fifs__videobox > iframe {
    width: 590px;
    height: 320px;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  .fifth_section {
    padding: 35px 0;
  }
  .fifth_section__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .fifth_section__content .fifs__description {
    flex-direction: column;
    gap: 47px;
  }
  .fifth_section__content .fifs__description .fifs__separ {
    display: none;
  }
  .fifth_section__content .fifs__description .fifs__text {
    text-align: center;
  }
  .fifth_section__content .fifs__videobox > iframe {
    width: 400px;
    height: 275px;
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  .fifth_section {
    padding: 25px 0;
  }
  .fifth_section__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .fifth_section__content .fifs__description {
    flex-direction: column;
    gap: 47px;
  }
  .fifth_section__content .fifs__description .fifs__separ {
    display: none;
  }
  .fifth_section__content .fifs__description .fifs__text {
    text-align: center;
  }
  .fifth_section__content .fifs__videobox > iframe {
    width: 370px;
    height: 200px;
  }
}
@media screen and (min-width: 320px) and (max-width: 379px) {
  .fifth_section {
    padding: 25px 0;
  }
  .fifth_section__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .fifth_section__content .fifs__description {
    flex-direction: column;
    gap: 47px;
  }
  .fifth_section__content .fifs__description .fifs__separ {
    display: none;
  }
  .fifth_section__content .fifs__description .fifs__text {
    text-align: center;
  }
  .fifth_section__content .fifs__videobox > iframe {
    width: 310px;
    height: 200px;
  }
}
.footer {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.footer .footer_img {
  width: 100%;
}
.footer .footer__content .f__contact {
  position: absolute;
  top: 19px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 430px;
  padding: 35px 30px;
  background-color: #251D1A;
  border-radius: 2px;
}
.footer .footer__content .f__contact div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .footer__content .f__contact img {
  width: 41px;
  height: 41px;
}
.footer .footer__content .f__contact .f__title {
  font-size: 23px;
}
.footer .footer__content .f__contact .f__contact__item:hover {
  color: #faa633;
}
.footer .footer__content .f__info {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer__content .f__info__1 span {
  font-size: 15px;
  font-weight: bold;
}
.footer .footer__content .f__info__2 {
  display: flex;
  gap: 19px;
}
.footer .footer__content .f__info__2 a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}
.footer .footer__content .f__info__2 a:hover {
  color: #faa633;
}
.footer .f__visit_card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding: 15px 0;
  background-color: #251D1A;
}
.footer .f__visit_card a, .footer .f__visit_card p {
  font-size: 14px;
  color: black;
}
.footer .f__visit_card a {
  text-decoration: underline;
}

@media screen and (min-width: 1920px) {
  .footer .footer__content .f__contact {
    top: 23%;
    left: 20%;
    transform: translate(-20%, -23%);
  }
}
@media screen and (min-width: 1365px) and (max-width: 1450px) {
  .footer .footer__content .f__contact {
    top: 5%;
    left: 15%;
    transform: translate(-15%, -5%);
    gap: 10px;
    max-width: 430px;
    padding: 35px 30px;
    background-color: #251D1A;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .footer .footer__content .f__contact {
    top: 9%;
    left: 10%;
    transform: translate(-10%, -9%);
    gap: 7px;
    padding: 10px 20px;
  }
  .footer .footer__content .f__contact img {
    width: 33px;
    height: 33px;
  }
  .footer .footer__content .f__contact .f__title {
    font-size: 20px;
  }
  .footer .footer__content .f__contact .f__contact__item {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: 130%;
  }
  .footer .footer_img {
    width: 130%;
  }
  .footer .footer__content .f__contact {
    top: 7%;
    left: 15%;
    transform: translate(-15%, -7%);
    gap: 7px;
    padding: 10px 20px;
  }
  .footer .footer__content .f__contact img {
    width: 33px;
    height: 33px;
  }
  .footer .footer__content .f__contact .f__title {
    font-size: 20px;
  }
  .footer .footer__content .f__contact .f__contact__item {
    font-size: 16px;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  .footer .footer_img {
    width: 220%;
    margin-left: -400px;
  }
  .footer .footer__content .f__contact {
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 10px;
    background-color: transparent;
  }
  .footer .footer__content .f__contact div {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .footer .footer__content .f__contact img {
    width: 28px;
    height: 28px;
  }
  .footer .footer__content .f__contact .f__title {
    font-size: 20px;
    color: #251D1A;
  }
  .footer .footer__content .f__contact .f__contact__item {
    color: #251D1A;
    font-weight: 800;
    font-size: 15px;
  }
  .footer .footer__content .f__info {
    padding: 30px 0;
    justify-content: space-around;
  }
  .footer .footer__content .f__info__1 {
    display: none;
  }
  .footer .footer__content .f__info__2 a {
    font-size: 14px;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  .footer .footer_img {
    width: 300%;
    margin-left: -400px;
  }
  .footer .footer__content .f__contact {
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 10px;
    background-color: transparent;
  }
  .footer .footer__content .f__contact div {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .footer .footer__content .f__contact img {
    width: 28px;
    height: 28px;
  }
  .footer .footer__content .f__contact .f__title {
    font-size: 20px;
    color: #251D1A;
  }
  .footer .footer__content .f__contact .f__contact__item {
    color: #251D1A;
    font-weight: 800;
    font-size: 15px;
  }
  .footer .footer__content .f__info {
    padding: 15px 0;
    justify-content: space-around;
  }
  .footer .footer__content .f__info__1 {
    display: none;
  }
  .footer .footer__content .f__info__2 a {
    font-size: 14px;
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  .footer .footer_img {
    width: 280%;
    margin-left: -360px;
  }
  .footer .footer__content .f__contact {
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 10px;
    background-color: transparent;
  }
  .footer .footer__content .f__contact div {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .footer .footer__content .f__contact img {
    width: 28px;
    height: 28px;
  }
  .footer .footer__content .f__contact .f__title {
    font-size: 20px;
    color: #251D1A;
  }
  .footer .footer__content .f__contact .f__contact__item {
    color: #251D1A;
    font-weight: 800;
    font-size: 15px;
  }
  .footer .footer__content .f__info {
    padding: 15px 0;
    justify-content: space-around;
  }
  .footer .footer__content .f__info__1 {
    display: none;
  }
  .footer .footer__content .f__info__2 a {
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 379px) {
  .footer .footer_img {
    width: 320%;
    margin-left: -360px;
  }
  .footer .footer__content .f__contact {
    top: 15%;
    left: 15%;
    transform: translate(-15%, -15%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 10px;
    background-color: transparent;
  }
  .footer .footer__content .f__contact div {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .footer .footer__content .f__contact img {
    width: 28px;
    height: 28px;
  }
  .footer .footer__content .f__contact .f__title {
    font-size: 20px;
    color: #251D1A;
  }
  .footer .footer__content .f__contact .f__contact__item {
    color: #251D1A;
    font-weight: 800;
    font-size: 14px;
  }
  .footer .footer__content .f__info {
    padding: 15px 0;
    justify-content: space-around;
  }
  .footer .footer__content .f__info__1 {
    display: none;
  }
  .footer .footer__content .f__info__2 a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=index.css.map */
