.second_section {
  margin-top: -125px;
  padding-top: 175px;
  background-color: $bkg_color_2;

  &__content {
    padding: 0 100px 55px;

    .sec_s__title {
      color: $orange_color;
      font-size: 23px;
      font-weight: bold;
    }

    .sec_s__text {
      padding-top: 15px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .second_section {
    &__content {
      .sec_s__title {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .second_section {
    padding-top: 165px;

    &__content {
      padding: 0 20px 35px;

      .sec_s__title {
        font-size: 20px;
      }

      .sec_s__text {
        padding-top: 15px;
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 594px) {
  .second_section {
    padding-top: 165px;

    &__content {
      padding: 0 20px 35px;

      .sec_s__title {
        font-size: 20px;
      }

      .sec_s__text {
        padding-top: 15px;
      }
    }
  }
}