.third_section {
  padding: 45px 0 85px;

  &__content {
    display: flex;
    flex-direction: column;

    .ts__title {
      color: $orange_color;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }

    .ts__services {
      padding: 45px 5px 10px;
      display: flex;
      justify-content: space-between;

      .ts__service {
        padding: 25px 10px;
        min-height: 370px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        background-color: $bkg_color_2;
        box-shadow: 5px 5px 5px black;

        &:hover {
          background-color: $orange_color;
        }

        &__img {
          width: 79px;
          height: 79px;
        }

        &__title {
          font-size: 20px;
          font-weight: bold;
        }

        &__text {
          text-align: center;
          font-size: 17px;
        }

        &__button {
          margin-top: 10px;
          padding: 8px 18px;
          font-size: 14px;
          color: $orange_color;
          cursor: pointer;
          background-color: $mt_color;
          border-radius: 7px;

          &:hover {
            background-color: $bkg_color;
          }
        }

        .active {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .third_section {
    &__content {
      .ts__services {
        padding: 45px 15px 15px;

        .ts__service {
          min-height: 400px;
          width: 280px;
          box-shadow: 10px 10px 10px black;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .third_section {
    &__content {
      .ts__services {
        padding: 45px 15px 15px;

        .ts__service {
          min-height: 310px;
          width: 220px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .third_section {
    &__content {
      .ts__title {
        font-size: 20px;
      }

      .ts__services {
        padding: 45px 5px 10px;

        .ts__service {
          padding: 10px 5px;
          min-height: 270px;
          width: 170px;
          gap: 10px;

          &__img {
            width: 45px;
            height: 45px;
          }

          &__title {
            font-size: 15px;
          }

          &__text {
            font-size: 14px;
          }

          &__button {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 767px) {
  .third_section {
    padding: 25px 0;

    &__content {
      .ts__title {
        font-size: 20px;
      }

      .ts__services {
        padding: 25px 5px 10px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        gap: 55px;

        &::-webkit-scrollbar {
          width: 0;
        }

        .ts__service {
          min-height: 370px;
          min-width: 280px;


          &__img {
            width: 63px;
            height: 63px;
          }

          &__title {
            font-size: 18px;
          }
        }
      }
    }
  }
}