.first_section {
  &__content {
    overflow: hidden;

    .main__img {
      width: 100%;
      height: 300px;
    }

    .main__title {
      position: absolute;
      top: 250px;
      max-width: 700px;
      padding: 10px;
      animation: magic 2s forwards;

      @keyframes magic {
        0% {opacity: 0}
        100% {opacity: 1}
      }
    }

    & h1 {
      font-size: 55px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .first_section {
    &__content {
      .main__img {
        height: 390px;
      }
    }

    &__content_2 {
      max-width: 1100px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .first_section {
    &__content {
      .main__img {
        height: 200px;
      }

      .main__title {
        top: 175px;
      }

      & h1 {
        font-size: 35px;
      }
    }

    &__content_2 {
      padding: 45px 0;
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .first_section {
    &__content {
      .main__img {
        height: 100%;
      }

      .main__title {
        top: 160px;
      }

      & h1 {
        font-size: 35px;
      }
    }

    &__content_2 {
      padding: 35px 0;
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 594px) {
  .first_section {
    &__content {
      .main__img {
        height: 100%;
      }

      .main__title {
        top: 120px;
      }

      & h1 {
        font-size: 35px;
      }
    }

    &__content_2 {
      padding: 35px 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 594px) {
  .first_section {
    &__content {
      .main__img {
        width: 150%;
        height: 120px;
      }

      .main__title {
        top: 110px;
      }

      & h1 {
        font-size: 35px;
      }
    }

    &__content_2 {
      padding: 25px 0;
    }
  }
}