.third_section {
  &__content {
    padding: 70px 0;

    .ts__main_info {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &__title {
        text-align: center;
        color: $orange_color;
        font-size: 24px;
      }

      &__title_2 {
        font-weight: bold;
      }
    }

    .ts__img {
      padding: 35px 0;
      position: relative;
      overflow: hidden;

      &__photo {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
      }

      &__text {
        max-width: 800px;
        margin: 0 auto;
        padding: 10px;
        position: absolute;
        left: 135px;
        bottom: 0;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        background-color: $bkg_color_2;
        /*animation: magic_txt 2s forwards;*/

        @keyframes magic_txt {
          0% {transform: translateY(+150%);}
          100% {transform: translateY(0);}
        }

        &_item {
          max-width: 240px;

          & h4 {
            margin-bottom: 10px;
          }
        }
      }
    }

    .ts__add_info {
      padding: 45px 0;

      &__title {
        color: $orange_color;
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .third_section {
    &__content {
      .ts__img {
        &__text {
          left: 285px;

          &_item {
            & p {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .third_section {
    &__content {
      padding: 30px 0 0;

      .ts__main_info {
        gap: 10px;

        &__title {
          font-size: 20px;
        }
      }

      .ts__img {
        padding: 35px 0;

        &__photo {
          width: 700px;
        }

        &__text {
          max-width: 600px;
          left: 75px;
          gap: 20px;

          &_item {
            max-width: 240px;

            & h4 {
              font-size: 13px;
            }

            & p {
              font-size: 12px;
            }
          }
        }
      }

      .ts__add_info {
        padding-top: 45px;

        &__title {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .third_section {
    &__content {
      padding: 35px 0;

      .ts__main_info {
        &__title {
          font-size: 20px;
        }
      }

      .ts__img {
        padding: 25px 0 35px;

        &__photo {
          width: 100%;
        }

        &__text {
          max-width: 670px;
          padding: 5px;
          left: 65px;
          gap: 15px;

          &_item {
            max-width: 140px;

            & h4, & p {
              font-size: 11px;
              text-align: center;
            }
          }
        }
      }

      .ts__add_info {
        padding: 15px 0 10px;

        &__title {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 594px) {
  .third_section {
    &__content {
      padding: 35px 0;

      .ts__main_info {
        &__title {
          font-size: 20px;
        }
      }

      .ts__img {
        padding: 25px 0 35px;

        &__photo {
          width: 100%;
        }

        &__text {
          max-width: 370px;
          padding: 5px;
          left: 15px;
          gap: 15px;

          &_item {
            max-width: 140px;

            & h4, & p {
              font-size: 11px;
              text-align: center;
            }
          }
        }
      }

      .ts__add_info {
        padding: 15px 0 10px;

        &__title {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 411px) {
  .third_section {
    &__content {
      padding: 25px 0;

      .ts__main_info {
        &__title {
          font-size: 20px;
        }
      }

      .ts__img {
        padding: 25px 0 75px;

        &__photo {
          width: 100%;
        }

        &__text {
          max-width: 370px;
          padding: 5px;
          left: 5px;
          gap: 15px;

          &_item {
            max-width: 140px;

            & h4, & p {
              font-size: 11px;
              text-align: center;
            }
          }
        }
      }

      .ts__add_info {
        padding: 15px 0 10px;

        &__title {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 379px) {
  .third_section {
    &__content {
      padding: 25px 0;

      .ts__main_info {
        &__title {
          font-size: 20px;
        }
      }

      .ts__img {
        padding: 25px 0 75px;

        &__photo {
          width: 100%;
        }

        &__text {
          max-width: 370px;
          padding: 5px;
          left: 0;
          gap: 15px;

          &_item {
            max-width: 140px;

            & h4, & p {
              font-size: 11px;
              text-align: center;
            }
          }
        }
      }

      .ts__add_info {
        padding: 15px 0 10px;

        &__title {
          font-size: 20px;
        }
      }
    }
  }
}