.fourth_section {
  padding: 70px 0;
  background-color: $bkg_color_2;

  .container {
    overflow: visible;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .fs__title {
      text-align: center;
      color: $orange_color;
      font-size: 24px;
    }

    .fs__img {
      margin-top: 20px;
      height: 470px;
    }

    .second_title {
      margin-top: 55px;

      &+p {
        text-align: center;
      }
    }

    .fs__img_2 {
      padding: 25px 0;
      display: flex;
      justify-content: space-around;

      & img {
        width: 250px;

        &:hover {
          transform: scale(1.8);
          transition-duration: 2s;
          z-index: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fourth_section {
    padding: 35px 0;

    &__content {
      gap: 10px;

      .fs__title {
        font-size: 20px;
      }

      .fs__img {
        margin-top: 20px;
        height: 380px;
      }

      .fs__img_2 {
        & img {
          width: 170px;
        }
      }
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .fourth_section {
    padding: 35px 0;

    &__content {
      .fs__title {
        font-size: 20px;
      }

      .fs__img {
        margin-top: 10px;
        height: 100%;
      }

      .second_title {
        margin-top: 35px;
      }

      .fs__img_2 {
        gap: 10px;
        align-items: center;

        & img {
          width: 30%;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 594px) {
  .fourth_section {
    padding: 35px 0;

    &__content {
      .fs__title {
        font-size: 20px;
      }

      .fs__img {
        margin-top: 10px;
        height: 100%;
      }

      .second_title {
        margin-top: 35px;
      }

      .fs__img_2 {
        flex-direction: column;
        gap: 10px;
        align-items: center;

        & img {
          width: 60%;

          &:hover {
            transform: scale(1.4);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 411px) {
  .fourth_section {
    padding: 25px 0;

    &__content {
      .fs__title {
        font-size: 20px;
      }

      .fs__img {
        margin-top: 10px;
        height: 100%;
      }

      .second_title {
        margin-top: 35px;
      }

      .fs__img_2 {
        flex-direction: column;
        gap: 10px;
        align-items: center;

        & img {
          width: 60%;

          &:hover {
            transform: scale(1.4);
          }
        }
      }
    }
  }
}